
<nav class="navbar navbar-expand-lg  " style=" background-color: rgb(2, 27, 49);width:100% " >
  <div class="container-fluid" >
    <img src="e.jpeg" alt="logo" class="rounded-pill" style="width: 50px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-5  "  >
            <a routerLink="/home"  routerLinkActive="" class="nav-link " style ="color:rgb(200, 237, 247); "  >Home</a>
        </li>
        <li class="nav-item mx-5" >
            <a routerLink="/products" class="nav-link" style="color: rgb(200, 237, 247);">les Produits</a>
        </li>

        <li class="nav-item mx-5" >
          <a routerLink="/panier" class="nav-link" style="color: rgb(200, 237, 247);">Panier</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary active" type="button" style="border-radius: 20px;">rechercher</button>
      </form>
    </div>
  </div>
</nav>

